div {
  font-family: 'Roboto', sans-serif;
}

.center {
    margin: auto;
    width: 90%;
}

button {
  background-color: #1596bc;
  border: none;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 8px;
}

button:disabled {
  background-color: #767d87;
}

a {
  color: #1596bc;
}
