div {
  font-family: Arial, sans-serif;
}

.center {
    margin: auto;
    width: 90%;
}

button {
  background-color: #a05ade;
  border: none;
  color: white;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

button:hover {
  background-color: #ff28e1;
}


h1, h6 {
  display: inline-block;
}
